[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
facenet-pytorch = "*"
face-recognition = "*"
matplotlib = "*"
typer = "*"

[requires]
python_version = "3.7"
