[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
typer = "*"
mxnet = "*"
insightface = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pillow = "*"
sklearn = "*"

[requires]
python_version = "3.7"
